@charset "utf-8";

/*  MAIN GRID   */
html, body{
    height: 100%;
}
body{
    margin: 0;
}
body {
    display: grid;
    height: 100%;
    grid-template-columns:1fr;
    grid-template-areas:
                "header"
                "main"
                "footer";

    grid-template-rows: 90px auto 90px;
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

/*  HEADER GRID */
header{
    display: grid;
    grid-template-areas:
    'logo htitle'
    'logo htag';
    grid-template-columns: auto auto;
}
header h1{
    grid-area: htitle;
}
header p{
    grid-area: htag;
}
header img{
    grid-area: logo;
}

/*  FOOTER GRID  */
footer{
    display: grid;
    grid-template-areas: 
    'wButton pButton gButton';
}
#wButton{
    grid-area: wButton;
}
#pButton{
    grid-area: pButton;
}
#gButton{
    grid-area: gButton;
}

/*  SECTION GRID    */
section{
    display: grid;  
    grid-template-rows: auto auto auto auto auto;
    height: 100%;
}

/*  ARTICLE GRID    */
a{
    display: grid;
    grid-template-areas: 
    'ikon ikon projt projt'
    'ikon ikon projd projd';
}
a img {
    grid-area: ikon;
}
a h3{
    grid-area: projt;
}
a p{
    grid-area: projd;
}