@charset "utf-8";

@media only screen and (min-width: 600px){ /* Medium sized screen (Portrait Tablets) */
    header{
        height: 140px;
    }
    header img{
        height: 130px;
        padding-top: 30px;
        padding-left: 0px;
    }
    header h1{
        font-size: 3em;
        margin-top: 30px;
        margin-left: -150px;
    }
    header p{
        margin-top: -35px;
        margin-left: -150px;
        font-size: 1.5em;
    }
    section .sectionTitle{
        padding-top: 80px;
        font-size: 2.3em;
    }
    a img{
        height: 100px;
        margin-left: 50px;
    }
    section a h3{
        font-size: 2em;
        width: 300px;
    }
    section a p{
        font-size: 1.3em;
        width: 300px;
    }
    footer{
        height: 100%;
    }
    footer div{
        height: 50px;
        width: 50px;
    }
}

@media only screen and (min-width: 600px) and (orientation: landscape){ /* Medium sized screen (Landscape Tablets) */
    a img{
        margin-left: 150px;
    }
    header a img{
        margin-right: -200px;
    }
    header h1{
        margin-left: -300px;
    }
    header p{
        margin-left: -300px;
    }
}

@media only screen and (min-width: 992px){

}

@media only screen and (min-width: 992px) and (orientation: landscape){ /* Large sized screen (Laptops) */

}

@media only screen and (min-width: 1200px) and (orientation: landscape){ /* Extra large sized screen (Desktops) */

}