@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #555;
    color: #fff;
}
header{
    background-color: #333;
}
header img{
    height: 80px;
    padding-top: 10px;
    padding-left: 20px;
}
header h1{
    font-size: 1.8em;
    margin-top: 20px;
    margin-right: 20px
}
header p{
    margin-top: -35px;
    font-size: 1em;
    margin-right: 20px
}
footer div{
    margin-top: 30px;
}
main{
    overflow: scroll;
}

section .sectionTitle{
    font-size: 1.7em;
    padding-top: 5px;
}
article img{
    height: 100px;
    padding-left: 20px;
    margin: auto 0;
}
section article h1{
    font-size: 1.5em;
    margin-top: 20px;
    font-family: 'Asap', sans-serif;
    width: 200px;
}
section article h2{
    font-size: 0.9em;
    width: 200px;
}

article{
    height: 100px;
}


.wSection{
    display: none;
}
.pSection{
    display: none;
}
.gSection{
    display: none;
}
footer{
    background-color: #333;
}
footer div{
    border: 2px solid black;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    height: 50px;
    width: 50px;
    margin: auto auto;
    background-color: #333;
}
#wButton{
    background-color: #444;
}



article:hover{
    background-color: #444;
}
div:hover{
    background-color: #444;
}