@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Asap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
}
body{
    background: #FF675A;
}







/*  MAIN GRID   */
header {
    grid-area: header;
    background: cadetblue;
    height: 150px;
    text-align: center;
} 
.webbutv{
    grid-area: webb;
    background: #9EFF79;
}
.prog{
    grid-area: prog;
    background: #FFF369;
}
.gymnasiearb{
    grid-area: gymn;
}
.webbtitle{
    grid-area: webbtitle;
    background: #9EFF79;
}
.progtitle{
    grid-area: progtitle;
    background: #FFF369;
}
.gymntitle{
    grid-area: gymntitle;
}
.sectiontitle{
    text-align: center;
    font-size: 2em;
    padding: 10px;
}
.grid-container{
    display: grid;
    grid-template-areas: 
        'header header header header'
        'webbtitle webbtitle webbtitle webbtitle'
        'webb webb webb webb'
        'progtitle progtitle progtitle progtitle'
        'prog prog prog prog'
        'gymntitle gymntitle gymntitle gymntitle'
        'gymn gymn gymn gymn';
}












/*  HEADER GRID */
.bild{
    grid-area: bild;
    width: 100px;
    margin: auto 5px;
}
.title{
    grid-area: title;
    font-size: 2.3em;
    margin: auto 0;
}

.header-grid{
    display: grid;
    grid-template-areas: 
    'bild title title title';
}


















/*  SECTION GRID    */

.section-grid{
    display: grid;
    grid-template-areas:
    'article article';
}

/*  ARTICLE GRID */
.projnamn{
    grid-area: projnamn;
    font-size: 1.1em;
    width: 115px;
    padding-top: 15px;
}
.article-grid{
    margin: 10px;
    display: grid;
    grid-template-areas: 
    'bild projnamn';
}
.section-grid .article-grid .bild{
    width: 70px;
    margin: 0;
}





/*  MEDIA QUERIES   */
@media only screen and (min-width: 600px){ /* SURFPLATTA */
}

@media only screen and (min-width: 990px){ /* PC */
    .grid-container{
    }
}


