@charset "utf-8";

@media only screen and (max-width: 360px){
    section a img{
        padding-left: 15px;
        height: 50px;
    }
}
@media only screen and (max-height: 360px){
    header h1{
        width: 200px;
        padding-left: 25px;
    }
    header p{
        padding-left: 25px;
    }
    section a h3{
        margin-right: 200px;
    }
    section a p{
        margin-left: 40px;
    }
    body{
        grid-template-rows: 65px auto 40px;
    }
    footer div{
        width: 40px;
    }
    footer div img{
        width: 40px;
    }
}

@media only screen and (min-width: 600px){ /* Medium sized screen (Portrait Tablets) */
    header{
        height: 140px;
    }
    header a img{
        width: 100px;
        height: auto;
        margin-top: 20px;
        margin-left: 90px;
    }
    header h1{
        font-size: 3em;
        padding-top: 25px;
        padding-right: 200px;
    }
    header p{
        margin-top: -45px;
        padding-right: 200px;
        font-size: 1.5em;
    }
    section .sectionTitle{
        padding-top: 80px;
        font-size: 2.3em;
    }
    section a img{
        height: 100px;
        margin-left: 20px;
    }
    section a h3{
        font-size: 2em;
        width: 300px;
        margin-right: 150px;
    }
    section a p{
        font-size: 1.3em;
        width: 300px;
    }
    footer div{
        height: 50px;
        width: 50px;
    }
    footer div img{
        width: 50px;
    }
    body{
        grid-template-rows: 90px auto 90px;
    }
}

@media only screen and (max-height: 600px) and (orientation: landscape){ /* Phone landscape */
    header{
        height: 70px;
    }
    header a img{
        width: 60px;
        margin-top: 5px;
        margin-left: 120px;
    }
    header h1{
        font-size: 1.7em;
        padding-top: 10px;
        padding-right: 220px;
    }
    header p{
        font-size: 0.7em;
        margin-top: -25px;
        padding-right: 220px;
    }
    section{
        overflow: scroll;
    }
    section .sectionTitle{
        font-size: 1.5em;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    section a img{
        width: 60px;
        height: auto;
        padding-left: 100px;
    }
    section a h3{
        font-size: 1em;
        margin-top: 10px;
        margin-bottom: 60px;
        width: 200px;
        margin-left: 40px;
    }
    section a p{
        font-size: 0.7em;
        margin-top: -50px;
    }
    footer div{
        height: 30px;
        width: 30px;
    }
    footer div img{
        width: 30px;
    }
    body{
        grid-template-rows: auto 65% 55px;
    }
}

@media only screen and (min-width: 992px) and (orientation: landscape){ /* Medium sized screen (Landscape Tablets) */

    header{
        height: 100px;
    }
    header a img{
        margin-left: 200px;
        margin-top: 10px;
        width: 90px;
    }
    header h1{
        padding-right: 350px;
        padding-top: 15px;
        font-size: 2.5em;
    }
    header p{
        font-size: 1em;
        margin-top: -35px;
        padding-right: 350px;
    }
    section a img{
        margin-left: 100px;
        width: 100px;
        height: auto;
    }
    section a h3{
        margin-right: 250px;
    }
    body{
        grid-template-rows: 40px auto 70px;
    }
    footer div{
        height: 40px;
        width: 40px;
    }
    footer div img{
        width: 40px;
    }

}

@media only screen and (min-width: 1200px) and (orientation: landscape){ /* Extra large sized screen (Desktops) */
    header a img{
        padding-left: 300px;
    }
    header h1{
        padding-right: 750px;
    }
    header p{
        padding-right: 750px;
    }
    section a img{
        padding-left: 400px;
        width: 120px;
        height: auto;
    }
    section a h3{
        margin-right: 600px;
    }
    section a{
        padding: 10px;
        padding-bottom: 35px;
    }
    body{
        grid-template-rows: 40px auto 100px;
    }
    footer div{
        height: 60px;
        width: 60px;
    }
    footer div img{
        width: 60px;
    }

}
